.grid {
  display: inline-block;
  border: 1px solid #333;
}

.grid-row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: white;
}

.cell-start {
  background-color: green;
}

.cell-end {
  background-color: red;
}

.cell-wall {
  background-color: black;
}
.grid {
  user-select: none;
}